.topBanner {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    font-family: "Nova Round", "Roboto", sans-serif;
    background-color: transparent;
}

.topBanner > div {
    background-color: var(--primary);
}

.topBanner > svg {
    width: 100%;
    height: auto;
    fill: var(--primary);
}

.topBannerTitle {
    text-align: center;
    font-size: 5rem;
}

.topBannerSubtitle {
    text-align: center;
    font-size: 3rem;
}
