.themeToggle {
    --color: 0, 0, 0;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    color: var(--primary);
    background-color: transparent;
    transition: transform 300ms;
}

.themeToggle[data-color="dark"] {
    --color: 255, 255, 255;
}

.themeToggle:hover {
    background-color: rgba(var(--color), 0.1);
}

.themeToggle:focus {
    transform: rotate(360deg);
}
