:root {
    --text-color: black;
    --base-bg-color: #ffffff;
    --sub-bg-color: #f0f0f0;
    --primary: #22e5aa;
}

div#page_root[data-theme="dark"] {
    --text-color: white;
    --base-bg-color: #252525;
    --sub-bg-color: #3d3d3d;
    --primary: #1aac80;
}

body,
#page_root {
    background-color: var(--base-bg-color);
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 500ms, color 500ms;
}
